<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Bank of America{% endblock %}</title>
</head>
<body>

<div class="navbar">
    <div class="section-inner clearfix">
        <nav>
            <a href="#">BankOfAmerica</a>
            <a href="#">Account</a>
            <a href="#">Contact</a>
            <a href="#">Career</a>
        </nav>
    </div>
</div>

{% block content %}

{% endblock %}

{% block footer %}

<div class="footer">
    <div>
        <hr>
        <p>Bank of America</p>
    </div>
</div>

{% endblock %}

</body>
</html>